@import "tailwindcss";

.selected-item {
  color: white;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.unselected-item {
  color: transparent;
  -webkit-text-stroke: 1px white;
  transform: scale(1);
  transition: all 0.3s ease;
}

.infinite-scroll-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}
